fieldset {
  width: 60%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: Arial, Helvetica, sans-serif;
}
fieldset input,
fieldset button {
  margin: 2%;
  padding: 1%;
  width: 20%;
}
p {
  font-family: Arial, Helvetica, sans-serif;
}
li {
  font-family: Arial, Helvetica, sans-serif;
}
fieldset button {
  font-family: Arial, Helvetica, sans-serif;
  background-color: #4288fd;
  border-radius: 5px;
  border: none;
}
fieldset input {
  width: 100%;
}
li {
  list-style-type: none;
  padding: 5px;
}
button {
  background-color: red;
  border-radius: 5px;
  border: none;
}
button:hover {
  background-color: lightcoral;
}
a {
  text-decoration: none;
}
a:hover {
  border-bottom: 1px solid black;
}
