<form #form="ngForm" class="form" (ngSubmit)="register()">
  <p>Sign Up</p>
  <input [(ngModel)]="user.username" class="form-control" #name="ngModel" name="name" placeholder="Username" type="text" required>
  <input [(ngModel)]="user.email" email class="form-control" #email="ngModel" name="email" placeholder="Email" type="email" required>
  <input [(ngModel)]="user.password" class="form-control" #password="ngModel" name="password" placeholder="Password" type="password" required>
  <input [(ngModel)]="password2" class="form-control" name="password2" placeholder="Repeat your password again" type="password" required>
  <button type='submit'>Sign Up</button>
  <p>You already have an acoont?</p>
  <a routerLink="/login">Log In</a>
</form>
