<div class="header">
  <div class="nav main">
    <a routerLink="/">Aliexpress</a>
  </div>
  <div *ngIf="userService.logged" class="nav">
    <a routerLink="/cart">My Cart</a>
  </div>
  <div class="nav right-side">
    <a *ngIf="!userService.logged" routerLink="/login">Log In</a>
    <a *ngIf="!userService.logged" routerLink="/register">Sign Up</a>
    <a *ngIf="userService.logged">{{userService.user.username}}</a>
    <a *ngIf="userService.logged" (click)="logOut()">Logout</a>
  </div>
</div>
