.row {
  justify-content: center;
  display: flex;
  flex-wrap: wrap;
}
.products {
  margin: 10px;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
  width: 30%;
  justify-content: space-between;
  display: flex;
  flex-direction: column;

  .title {
    font-weight: bold;
  }

  p {
    text-align: center;
  }

  button {
    background-color: #1976D2;
    color: white;
    padding: 10px;
    font-weight: bold;
  }
}

.title {
  text-align: center;
  font-weight: bold;
}
